form(method='post',action='/save')
	.form-group
		label='Name'
		input(type='text',name='Name',class='form-control')
	.form-group
		label='Description'
		textarea(name='Description',class='form-control')
	button(class='btn btn-default',type='button')='Submit'
	button(class='btn',type='button')='Delete'

